[flake8]
max-line-length=110
docstring-convention=all
exclude=constants.py,__pycache__,.cache,
        .git,
        .md,.svg,.png
        tests,
        venv,.venv,
        .json,
        pysvt/__init__.py
extend-ignore=E501
